
#generalcontainerpanel {
    background-color: black;
    height: 100vh;
}

#rowpanelup {
    background-color: black;
    height: 20vh;
    margin-left: 0em;    
}

.boxplayer {
    background-color:black;
    height: 20vh;
    margin: 0;
}

.list-group-item {

    height: 5vh;
    width: 15vw;
    text-align: center;
    color: wheat;
    background-color: black;
    font-size: 1em;
    font-family: 'Roschild', sans-serif;
}

.col-6 {
    height: 6.66vh;
    border:1px solid;
}

#containerpanelmid {
    background-color: black;
    height: 60vh;
    margin-left: 0em;
}

#gamepanel {
    background-color: black;
    height: 60vh;
    width: 70vw;
}

.boxgame {
    background-color: black;
    border: 1px solid;
    border-style:ridge;
    color: wheat;
    text-align: center;    
}

#rowpaneldown {
    background-color: black;
    height: 20vh;
    margin-left: 0em;
}