
#generalcontainerpanel {
    background-color: lightseagreen;
    height: 100vh;
}

#rowpanelup {
    background-color: lightgoldenrodyellow;
    height: 20vh;
    margin-left: 0em;
    
}

#player1box {

    background-color:black;
    height: 20vh;
    border: 1px solid;
    margin: 0;
}

.list-group-item {

    height: 5vh;
    width: 15vw;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 1em;
        font-family: 'Retro New Version', sans-serif;
        color: crimson;
        margin: auto;

}

.col-6 {
    height: 6.66vh;
    border:1px solid;
}

#containerpanelmid {
    background-color: lawngreen;
    height: 60vh;
    margin-left: 0em;
}

#gamepanel {
    background-color: lightcoral;
    height: 60vh;
    width: 70vw;
}

#lines {

    height: 20vh;
    background-color: white;
    border: 1px solid;
}

#rowpaneldown {

    background-color: lightblue;
    height: 20vh;
    margin-left: 0em;
}