

#selectplayercontainer {

    background-color:crimson;
    height: 100vh;
    
}
#selectplayerrow {
    
    background-color:black;
    height: 80vh;
    width: 90vw;
   
}

#selectplayercol{
   
    background-color:black;
    color: wheat;
}

.text {

    font-family: 'Roschild', sans-serif;
}

.textchoose {

    font-family: 'Roschild', sans-serif;
    font-size: 1em;
}