
    #maincontainer {

        background-color: black;
        height: 100vh;

    }

    #welcomerow {

        background-color: black;

    }

    #welcomecol {

        background-color: black
    
        
    }

    .texto {

        font-size: 3em;
        font-family: 'Roschild', sans-serif;
        color: white;
        margin-top: 1em;

    }

 #startbutton {

    font-family: 'Roschild', sans-serif;
    color: wheat
 }
