


    #maincontainer {

        background-color: lightblue;
        height: 100vh;

    }

    #welcomerow {

        background-color: lightgreen;

    }

    #welcomecol {

        background-color: lightcoral;
        font-family:monospace;
        
    }

    .texto {

        font-size: 6em;
    }

    #starcol {

        background-color: crimson;
    }